<a href="https://colab.research.google.com/github/DS3001/group9/blob/main/midterm_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as plt

import zipfile # for reading csv as zip

In [6]:
# zip file in git repo
zip_path = "gss.csv.zip"

# Desired csv file in zip
file_to_read = "gss.csv"

with zipfile.ZipFile(zip_path, 'r') as zip_file:

  var_list = ['year', 'age', 'educ', 'sex', 'pres16', 'race', 'wrkstat', 'wrkgovt'] # List of variables to save
  output_file = 'raw_gss_data.csv' # Name of the file to save the data to

  parser = pd.read_csv(zip_file.open(file_to_read), iterator=True, chunksize=10000, low_memory=False) # Creates a parser for the whole data
  modes = ['w','a'] # Has write mode and append mode
  phase = 0 # Starts in write mode; after one iteration of loop, switches to append mode

  for chunk in parser: # For each chunk of the data
      print(chunk.loc[:,var_list].head()) # Visually inspect the first few rows
      chunk.loc[:,var_list].to_csv(output_file, # specifies target file to save the chunk to
                                  mode=modes[phase], # control write versus append
                                  header=var_list, # variable names
                                  index=False) # no row index saved
      phase = 1 # Switch from write mode to append mode

   year   age  educ     sex  pres16   race            wrkstat  wrkgovt
0  1972  23.0  16.0  female     NaN  white  working full time      NaN
1  1972  70.0  10.0    male     NaN  white            retired      NaN
2  1972  48.0  12.0  female     NaN  white  working part time      NaN
3  1972  27.0  17.0  female     NaN  white  working full time      NaN
4  1972  61.0  12.0  female     NaN  white      keeping house      NaN
       year   age  educ     sex  pres16   race  \
10000  1978  28.0  12.0  female     NaN  black
10001  1978  20.0  12.0  female     NaN  white
10002  1978  57.0  13.0    male     NaN  white
10003  1978  20.0  12.0  female     NaN  white
10004  1978  19.0  10.0    male     NaN  other

                                      wrkstat wrkgovt
10000                       working full time     NaN
10001                       working part time     NaN
10002                                   other     NaN
10003                           keeping house     NaN
10004  unemployed, laid off, looking for work     NaN
       year   age  educ     sex  pres16   race            wrkstat  wrkgovt
20000  1986  48.0   3.0  female     NaN  other      keeping house      NaN
20001  1986  62.0  10.0  female     NaN  white      keeping house  private
20002  1986  39.0  12.0  female     NaN  white  working full time  private
20003  1986  35.0  14.0  female     NaN  white  working part time  private
20004  1986  51.0  12.0    male     NaN  white  working full time  private
       year   age  educ     sex  pres16   race  \
30000  1994  56.0  11.0  female     NaN  black
30001  1994  61.0  12.0    male     NaN  black
30002  1994  53.0  12.0    male     NaN  black
30003  1994  27.0  16.0  female     NaN  black
30004  1994  53.0  12.0  female     NaN  black

                                      wrkstat wrkgovt
30000                       working part time     NaN
30001  unemployed, laid off, looking for work     NaN
30002                       working full time     NaN
30003                       working full time     NaN
30004                       working part time     NaN
       year   age  educ     sex  pres16   race            wrkstat  wrkgovt
40000  2000  67.0  12.0  female     NaN  white  working part time  private
40001  2000  43.0  14.0  female     NaN  white  working full time  private
40002  2000  19.0  11.0  female     NaN  white          in school      NaN
40003  2000  29.0  16.0  female     NaN  white  working full time  private
40004  2000  48.0  18.0    male     NaN  white  working full time  private
       year   age  educ     sex  pres16   race  \
50000  2006  46.0  11.0    male     NaN  white
50001  2006  38.0  14.0  female     NaN  white
50002  2006  50.0  13.0  female     NaN  white
50003  2006  63.0   5.0  female     NaN  white
50004  2006  21.0  12.0  female     NaN  white

                                      wrkstat     wrkgovt
50000  unemployed, laid off, looking for work     private
50001                       working full time  government
50002                           keeping house     private
50003                           keeping house         NaN
50004                       working full time     private
       year   age  educ     sex pres16   race  \
60000  2016  49.0  13.0  female    NaN  white
60001  2016  45.0  14.0  female    NaN  white
60002  2016  34.0  12.0    male    NaN  black
60003  2016  44.0  16.0    male    NaN  other
60004  2016  66.0  12.0  female    NaN  white

                                                 wrkstat     wrkgovt
60000  with a job, but not at work because of tempora...  government
60001                                  working full time     private
60002                                  working full time  government
60003                                  working full time  government
60004                                            retired  government
       year   age  educ     sex   pres16   race            wrkstat  wrkgovt
70000  2022  25.0  16.0    male      NaN  white  working full time      NaN
70001  2022  65.0  13.0    male  clinton  white            retired      NaN
70002  2022  27.0  13.0  female      NaN  white  working full time      NaN
70003  2022  64.0  12.0    male      NaN  white            retired      NaN
70004  2022  68.0  12.0  female  clinton  white            retired      NaN

In [8]:
# Create dataframe from 'raw_gss_data.csv' that was just written
data = pd.read_csv("raw_gss_data.csv")
data.head()

   year   age  educ     sex pres16   race            wrkstat wrkgovt
0  1972  23.0  16.0  female    NaN  white  working full time     NaN
1  1972  70.0  10.0    male    NaN  white            retired     NaN
2  1972  48.0  12.0  female    NaN  white  working part time     NaN
3  1972  27.0  17.0  female    NaN  white  working full time     NaN
4  1972  61.0  12.0  female    NaN  white      keeping house     NaN

In [ ]:
# Function to max-min normalize data so each variables ranges from 0-1
def maxmin(x):
  res = (x-min(x))/(max(x)-min(x))
  return res

In [ ]:


# Scatter plot grouped by sex, by age and education
plt.scatter()

In [ ]:
# Create scatterplot and run clustering on graph of __ and __ grouped by pres16